﻿@using pembekalan_net.viewmodels
@model VMTblRole
@{
    //Layout = null;
    ViewData["Title"] = "Tambah Role";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
  <div class="card-body">
    
      <form asp-action="Create" method="post">
        <div class="mb-3">
            <label for="RoleName" class="form-label">Role Name</label>
            <input type="text" class="form-control" id="RoleName" name="RoleName">
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-light" asp-action="Index">Back to List</a>
    </form>

  </div>
</div>