﻿@using pembekalan_net.viewmodels
@model VMTblRole
@{
    ViewData["Title"] = "Delete Role";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
  <div class="card-body">

        <div class="h3 mb-4">Are you sure for delete @Model.RoleName ?</div>
      
    <form asp-action="Delete" method="post">
          <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-light" asp-action="Index">Back to List</a>
    </form>

  </div>
</div>