﻿
@{
    ViewData["Title"] = "Detail Role";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
  <div class="card-body">
    
        <div class="mb-3">
            <label for="RoleName" class="form-label">Role Name</label>
            <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
            
        </div>

        <a class="btn btn-light" asp-action="Index">Back to List</a>

  </div>
</div>