﻿@using pembekalan_net.viewmodels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Role";
}
<h1>@ViewData["Title"]</h1>

@*<a class="btn btn-primary" asp-controller="Role" asp-action="Create">Create</a>*@
<a class="btn btn-primary" id="btn_create">Create</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Id</th>
            <th>Role Name</th>
            <th>Is Delete</th>
            <th>Create Date</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @*@foreach (VMTblRole item in Model)*@
        @{
            int no = 0;
        }
        @foreach (VMTblRole item in ViewBag.listRole)
        {
            no++;
            <tr>
                <td>@no</td>
                <td>@item.Id</td>
                <td>@item.RoleName</td>
                <td>
                    @if(@item.IsDelete == false)
                    {
                        <input type="checkbox" disabled />
                    }
                    else
                    {
                        <input type="checkbox" disabled checked />
                    }
                </td>
                <td>@item.CreatedDate.ToString("dddd, dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-info btn_edit" data-id="@item.Id">Edit</a>
                    <a class="btn btn-success btn_detail" data-id="@item.Id">Detail</a>
                    <a class="btn btn-danger btn_delete" data-id="@item.Id">Delete</a>
                </td>
            </tr>   
        }

    </tbody>
</table>

<script>
    $("#btn_create").click(function(){
        //alert("masuk pak eko")
        $("#modal_body").empty()
        $("#modal_body").load("/Role/Create")
        $("#my_modal").modal("show")
    })

    $(".btn_edit").click(function(){
        var id = $(this).data("id")

        $("#modal_body").empty()
        $("#modal_body").load("/Role/Edit?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn_detail").click(function(){
        var id = $(this).data("id")

        $("#modal_body").empty()
        $("#modal_body").load("/Role/Detail?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn_delete").click(function(){
        var id = $(this).data("id")

        $("#modal_body").empty()
        $("#modal_body").load("/Role/Delete?id=" + id)
        $("#my_modal").modal("show")
    })



</script>
