﻿@using pembekalan_net.viewmodels

@model VMTblCustomer

@{
    ViewData["Title"] = "Delete Customer";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
  <div class="card-body">

        <div class="card-title">Are you sure for delete @Model.NameCustomer ?</div>
      
    <form asp-action="SureDelete" method="post" id="form_delete">
          <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-light" asp-action="Index">Back to List</a>
    </form>

  </div>
</div>

<script>
    $("#form_delete").validate({
        submitHandler: function(form){
            var id = $("#Id").val()

            $.ajax({
                url: '/Customer/SureDelete',
                type:"post",
                data: { id: id },
                dataType: "json",
                success: function(respon){
                    var data = respon.dataRespon
                    if(data.success){
                        $("#my_modal").modal("hide")
                    
                        Swal.fire(
                          "Information!",
                          data.message,
                          "success"
                        ).then(function(){
                            window.location.reload()
                        })

                        //toastr.success(
                        //    data.message,
                        //    '',
                        //    {
                        //        timeOut: 1000,
                        //        fadeOut: 1000,
                        //        onHidden: function () {
                        //            window.location.reload();
                        //        }
                        //    }
                        //)

                    }
                    else{
                        Swal.fire(
                          "Information!",
                          data.message,
                          "error"
                        )

                        //toastr.error(data.message)
                    }
                }
            })
        }
    })
</script>