﻿
@{
    ViewData["Title"] = "Multiple Delete Customer";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
  <div class="card-body">
      
    <form asp-action="MultipleDelete" method="post" id="form_delete">
        
        <h3>Are you sure for delete ?</h3>
        @foreach (var item in ViewBag.ListName)
        {
            <h4>@item</h4>
        }
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-light" asp-action="Index">Back to List</a>
        </div>

    </form>

  </div>
</div>

<script>
    $("#form_delete").validate({
        submitHandler: function(form){

            $.ajax({
                url: '/Customer/SureMultipleDelete',
                type:"post",
                data: { listId: listId },
                dataType: "json",
                success: function(respon){
                    var data = respon.dataRespon
                    if(data.success){
                        $("#my_modal").modal("hide")
                    
                        Swal.fire(
                          "Information!",
                          data.message,
                          "success"
                        ).then(function(){
                            window.location.reload()
                        })

                        //toastr.success(
                        //    data.message,
                        //    '',
                        //    {
                        //        timeOut: 1000,
                        //        fadeOut: 1000,
                        //        onHidden: function () {
                        //            window.location.reload();
                        //        }
                        //    }
                        //)

                    }
                    else{
                        Swal.fire(
                          "Information!",
                          data.message,
                          "error"
                        )

                        //toastr.error(data.message)
                    }
                }
            })
        }
    })
</script>