﻿
@{
    ViewData["Title"] = "Create Role";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="RoleName" class="col-sm-4 form-label">Role Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="RoleName" name="RoleName">
                    <span id="validate_RoleName" class="text-danger"></span>
                </div>
            </div>
        
            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>

    $("#form_input").validate({
        errorClass: "text-danger",
        rules:{
            RoleName:{
                required:true,
                minlength:3,
            }
        },
        messages:{
            RoleName:{
                required:"Please fill Role Name",
                minlength:"The name must consist of at least 3 characters",
            }
        },
        submitHandler: function(form){

            var dataForm = $(form).serialize()

            var roleName = $("#RoleName").val()
            var id = 0

            $.ajax({
                url:"/Role2/CheckNameIsExist",
                type:"get",
                //method:"get",
                data: { roleName: roleName, id: id },
                dataType: "json",
                success: function(respon){
                    if(respon){
                        $("#validate_RoleName").text("Role Name is already exists")
                        //return true
                    }
                    else{
                        fungsiSubmit(dataForm)
                    }
                }
            })

        }
    })

    function fungsiSubmit(dataParam){
        $.ajax({
            url: '/Role2/Create',
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function(respon){
                var data = respon.dataRespon
                if(data.success){
                    $("#my_modal").modal("hide")
                    
                    Swal.fire(
                      "Information!",
                      data.message,
                      "success"
                    ).then(function(){
                        window.location.reload()
                    })

                    //toastr.success(
                    //    data.message,
                    //    '',
                    //    {
                    //        timeOut: 1000,
                    //        fadeOut: 1000,
                    //        onHidden: function () {
                    //            window.location.reload();
                    //        }
                    //    }
                    //)

                }
                else{
                    Swal.fire(
                      "Information!",
                      data.message,
                      "error"
                    )

                    //toastr.error(data.message)
                }
            }
        })
    }

</script>